* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/src/assets/img/fondo.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid white;
}

.columna {
    border-radius: 15px;
    margin: 20px;
}

.columnados {
    border-radius: 15px;
    border: 1px solid white;
    margin: 20px;
    background: rgba(3, 6, 3, 0.813);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 95%;

}

.encabezado {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 15%;
    margin: 3px;
}


.notes {

    margin: 10px;
    width: 100%;
    height: 40rem;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tarea {
    width: 100%;
    margin-left: 10px;

}

/* NOT FOUND NOTES */

.notFoundTask {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.buscador {
    height: 10%;
    width: 98%;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.buscador>input {
    height: 2rem;
    margin-left: 10px;
    border-radius: 15px;
    width: 85%;
    padding: 2%;
}

.buscador>input::placeholder {
    color: white;
}

.buscador>button {
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 15px;
    border-radius: 20px;
}

/* SCREENS */

@media (max-height: 740px) {

    .notes {
        margin: 10px;
        width: 100%;
        height: 23rem;
        max-height: 70%;
        overflow-y: auto;
        overflow-x: hidden;
    }

}