* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.card {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 250px;
    align-items: end;
    width: 100%;
}

.card>h5,
h3 {
    font-size: 1.5rem;
}

.hours {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.hours h1 {
    font-size: 6.5rem;
}